:root {
  /* vivid */
  --pccs-v1: #b91f57;
  --pccs-v2: #d02f48;
  --pccs-v3: #dd443b;
  --pccs-v4: #e95b23;
  --pccs-v5: #e67800;
  --pccs-v6: #f49d00;
  --pccs-v7: #f1b500;
  --pccs-v8: #eec900;
  --pccs-v9: #d2c100;
  --pccs-v10: #a8bb00;
  --pccs-v11: #58a91d;
  --pccs-v12: #00a15a;
  --pccs-v13: #00926e;
  --pccs-v14: #00857f;
  --pccs-v15: #007488;
  --pccs-v16: #00709b;
  --pccs-v17: #00609c;
  --pccs-v18: #005ba5;
  --pccs-v19: #1a54a5;
  --pccs-v20: #534aa0;
  --pccs-v21: #703f96;
  --pccs-v22: #81378a;
  --pccs-v23: #8f2e7c;
  --pccs-v24: #ad2e6c;

  /* bright */
  --pccs-b2: #ef6c70;
  --pccs-b4: #fa8155;
  --pccs-b6: #ffad36;
  --pccs-b8: #fad831;
  --pccs-b10: #b7c82d;
  --pccs-b12: #41b879;
  --pccs-b14: #00aa9f;
  --pccs-b16: #0098b9;
  --pccs-b18: #2981c0;
  --pccs-b20: #7574bc;
  --pccs-b22: #a165a8;
  --pccs-b24: #d0678e;

  /* strong */
  --pccs-s2: #c53f4d;
  --pccs-s4: #cc572e;
  --pccs-s6: #e19215;
  --pccs-s8: #debc03;
  --pccs-s10: #9cad00;
  --pccs-s12: #008f56;
  --pccs-s14: #00827c;
  --pccs-s16: #006f92;
  --pccs-s18: #005b9b;
  --pccs-s20: #534c98;
  --pccs-s22: #7c3d84;
  --pccs-s24: #a33c6a;

  /* deep */
  --pccs-dp2: #a61d39;
  --pccs-dp4: #ab3d1d;
  --pccs-dp6: #b16c00;
  --pccs-dp8: #b39300;
  --pccs-dp10: #748400;
  --pccs-dp12: #007243;
  --pccs-dp14: #006664;
  --pccs-dp16: #005476;
  --pccs-dp18: #004280;
  --pccs-dp20: #3e337b;
  --pccs-dp22: #612469;
  --pccs-dp24: #861d55;

  /* light+ */
  --pccs-lt2p: #f19896;
  --pccs-lt4p: #ffa787;
  --pccs-lt6p: #ffbe71;
  --pccs-lt8p: #f2d96e;
  --pccs-lt10p: #c7d36d;
  --pccs-lt12p: #85ce9e;
  --pccs-lt14p: #62c0b5;
  --pccs-lt16p: #5bafc4;
  --pccs-lt18p: #6c9ac5;
  --pccs-lt20p: #9091c3;
  --pccs-lt22p: #b088b5;
  --pccs-lt24p: #d98ea5;

  /* light */
  --pccs-lt2: #f6aba5;
  --pccs-lt4: #ffb99e;
  --pccs-lt6: #ffce90;
  --pccs-lt8: #fbe68f;
  --pccs-lt10: #d8df92;
  --pccs-lt12: #9cd9ac;
  --pccs-lt14: #7eccc1;
  --pccs-lt16: #79baca;
  --pccs-lt18: #83a7c8;
  --pccs-lt20: #a29fc7;
  --pccs-lt22: #b89ab8;
  --pccs-lt24: #daa0b3;

  /* soft */
  --pccs-sf2: #ca8281;
  --pccs-sf4: #da927a;
  --pccs-sf6: #dba66b;
  --pccs-sf8: #d3bd6c;
  --pccs-sf10: #adb66b;
  --pccs-sf12: #76b18a;
  --pccs-sf14: #54a39b;
  --pccs-sf16: #5192a4;
  --pccs-sf18: #5d7ea0;
  --pccs-sf20: #7878a0;
  --pccs-sf22: #907194;
  --pccs-sf24: #b4788b;

  /* dull */
  --pccs-d2: #a35a5c;
  --pccs-d4: #af6954;
  --pccs-d6: #b37f46;
  --pccs-d8: #ab9446;
  --pccs-d10: #858f46;
  --pccs-d12: #4f8766;
  --pccs-d14: #2a7b76;
  --pccs-d16: #246a7d;
  --pccs-d18: #34597d;
  --pccs-d20: #54527c;
  --pccs-d22: #6c4a71;
  --pccs-d24: #8b4f65;

  /* dark */
  --pccs-dk2: #692934;
  --pccs-dk4: #75362a;
  --pccs-dk6: #794d1c;
  --pccs-dk8: #74601f;
  --pccs-dk10: #525b20;
  --pccs-dk12: #23523a;
  --pccs-dk14: #004746;
  --pccs-dk16: #004558;
  --pccs-dk18: #123452;
  --pccs-dk20: #322d51;
  --pccs-dk22: #432848;
  --pccs-dk24: #612d46;

  /* pale+ */
  --pccs-p2p: #e8c2bf;
  --pccs-p4p: #ebc2b5;
  --pccs-p6p: #f4d4b0;
  --pccs-p8p: #f2e6b8;
  --pccs-p10p: #d8ddad;
  --pccs-p12p: #aed4b9;
  --pccs-p14p: #a6d4cc;
  --pccs-p16p: #add1da;
  --pccs-p18p: #afc0d1;
  --pccs-p20p: #bbbdd0;
  --pccs-p22p: #c8b9c9;
  --pccs-p24p: #dec4ca;

  /* pale */
  --pccs-p2: #e7d5d4;
  --pccs-p4: #e9d5cf;
  --pccs-p6: #f6e3ce;
  --pccs-p8: #efe6c6;
  --pccs-p10: #e6e9c6;
  --pccs-p12: #c4e0cb;
  --pccs-p14: #bfe0d9;
  --pccs-p16: #c6dde2;
  --pccs-p18: #c2ccd5;
  --pccs-p20: #c9cad5;
  --pccs-p22: #d0c8d1;
  --pccs-p24: #e4d5d9;

  /* light grayish */
  --pccs-ltg2: #c0abaa;
  --pccs-ltg4: #c1aba5;
  --pccs-ltg6: #cebba8;
  --pccs-ltg8: #c6bea1;
  --pccs-ltg10: #bdc1a2;
  --pccs-ltg12: #9db6a5;
  --pccs-ltg14: #98b6b1;
  --pccs-ltg16: #9eb4b9;
  --pccs-ltg18: #9ba5af;
  --pccs-ltg20: #a2a2af;
  --pccs-ltg22: #aba0ab;
  --pccs-ltg24: #bdacb0;

  /* grayish */
  --pccs-g2: #745c5c;
  --pccs-g4: #755c57;
  --pccs-g6: #806c5c;
  --pccs-g8: #786f57;
  --pccs-g10: #6e725a;
  --pccs-g12: #53665a;
  --pccs-g14: #4e6764;
  --pccs-g16: #4f656c;
  --pccs-g18: #4c5765;
  --pccs-g20: #565566;
  --pccs-g22: #605262;
  --pccs-g24: #725c63;

  /* dark grayish */
  --pccs-dkg2: #3e2d30;
  --pccs-dkg4: #3f2e2c;
  --pccs-dkg6: #4a3c32;
  --pccs-dkg8: #443e30;
  --pccs-dkg10: #3d4033;
  --pccs-dkg12: #2a342e;
  --pccs-dkg14: #273434;
  --pccs-dkg16: #273439;
  --pccs-dkg18: #222933;
  --pccs-dkg20: #292734;
  --pccs-dkg22: #302531;
  --pccs-dkg24: #3d2e34;

  /* gray */
  --pccs-w: #ffffff;
  --pccs-gy9_5: #f1f1f1;
  --pccs-gy8_5: #d6d6d6;
  --pccs-gy7_5: #bbbbbb;
  --pccs-gy6_5: #a1a1a1;
  --pccs-gy5_5: #878787;
  --pccs-gy4_5: #6d6d6d;
  --pccs-gy3_5: #545454;
  --pccs-gy2_5: #3c3c3c;
  --pccs-gy1_5: #272727;
  --pccs-bk: #000000;
}
